*{
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Press Start 2P', cursive;
}

audio{
  display: none;
}

body{
  background-color: black;
}

.container{
  float: left;
  color: white;
  width: 10%;
}

#gameboy{
  height: 890px;
  width: 515px;
  background-image: url("./images/gameboy.png");
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 86px;
}

#display{
  height: 267px;
  width: 300px;
  background-color: #DEEED6;
}

#player, #enemy{
  height: 50%;
}

#player{
  padding-right: 20px;
}

.goblin_sprite{
  width: 40%;
  height: 100%;
  float: right;
  background-image: url("./images/goblin.png");
  background-size: contain;
  background-repeat: no-repeat;
}

#enemy_data{
  width: 60%;
  height: 100%;
  padding-top: 50px;
  float: left;
  padding-left: 10px;
  font-weight: bold;
  font-size: 18px;
}

.player_sprite{
  width: 40%;
  height: 100%;
  float: left;
  background-image: url("./images/wizard.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.wizard_sprite{
  width: 40%;
  height: 100%;
  float: left;
  background-image: url("./images/wizard.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.knight_sprite{
  width: 40%;
  height: 100%;
  float: left;
  background-image: url("./images/knight.png");
  background-size: contain;
  background-repeat: no-repeat;
}

#player_data{
  width: 60%;
  height: 60%;
  padding-top: 20px;
  padding-right: 10px;
  float: right;
  text-align: right;
  font-weight: bold;
  font-size: 18px;
}

#player_health{
  width: 60%;
  float: right;
  height: 20%;
  border: 2px solid black;
}

#player_health_bar{
  height: 100%;
  width: 100%;
  background: repeating-linear-gradient(-45deg, white, black 5%);
  margin: 0;
}

#a_button{
  width: 67px;
  height: 67px;
  border-radius: 50%;
  position: relative;
  left: 408px;
  top: 184px;
  color: white;
  background-color: black;
  font-size: 20px;
}

#b_button{
  width: 67px;
  height: 67px;
  border-radius: 50%;
  position: relative;
  left: 234px;
  top: 215px;
  color: white;
  background-color: black;
  font-size: 20px;
}
